absl-py==2.1.0
adjustText==1.3.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alembic==1.16.5
anndata==0.10.5.post1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
appdirs==1.4.4
array-api-compat==1.12.0
arrow==1.4.0
asttokens==3.0.0
async-timeout==5.0.1
attrs==26.1.0
autograd==1.8.0
autograd-gamma==0.5.0
biomart==0.9.2
biothings_client==0.5.0
bleach==6.3.0
blessed==1.21.0
bokeh==3.9.0
bravado==12.0.1
bravado-core==6.1.1
Brotli==1.0.9
cached-property==1.5.2
captum==0.8.0
cattrs==26.1.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
chembl-webresource-client==0.10.9
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
colorcet==3.1.0
colorlog==6.9.0
comm==0.2.3
contourpy==1.3.2
cycler==0.12.1
debugpy==1.8.11
decorator==5.2.1
dill==0.4.0
diskcache==5.6.3
docker-pycreds==0.4.0
docrep==0.3.2
easydict==1.13
einops==0.8.1
et_xmlfile==2.0.0
eval_type_backport==0.3.1
exceptiongroup==1.3.0
executing==2.2.1
fastprogress==1.0.3
filelock==3.19.1
fonttools==4.33.3
formulaic==1.2.1
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.9.0
gensim==4.3.3
get-annotations==0.1.2
gitdb==4.0.12
GitPython==3.1.46
gpustat==1.1.1
greenlet==3.2.4
grpcio==1.71.0
gseapy==1.1.10
h11==0.16.0
h2==4.3.0
h5py==3.6.0
hf-xet==1.4.3
hickle==5.0.3
holoviews==1.22.1
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
hyperframe==6.1.0
idna==3.10
igraph==0.9.10
imbalanced-learn==0.14.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
inflect==7.5.0
interface-meta==1.3.0
ipykernel==6.30.1
ipython==8.37.0
isoduration==20.11.0
iterative-stratification==0.1.9
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.2
lark==1.3.1
leidenalg==0.8.10
lifelines==0.30.0
linkify-it-py==2.1.0
littleutils==0.2.4
llvmlite==0.43.0
Mako==1.3.10
Markdown==3.8
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.7
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
mdit-py-plugins==0.5.0
mdurl==0.1.2
mizani==0.14.4
mkl-service==2.4.0
monotonic==1.6
more-itertools==11.0.2
mpmath==1.3.0
msgpack==1.1.2
multidict==6.6.4
munkres==1.1.4
mygene==3.2.2
narwhals==2.18.0
natsort==8.4.0
nest_asyncio==1.6.0
networkx==3.2
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==9.1.0.70
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==13.580.65
nvidia-nccl-cu11==2.20.5
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.1.105
nvitop==1.6.0
ogb==1.3.6
omnipath==1.0.12
openpyxl==3.1.5
optuna==4.5.0
outdated==0.2.2
package_name==0.1
packaging==25.0
pandas==2.2.0
panel==1.8.10
param==2.3.2
parso==0.8.5
patchworklib==0.6.6
patsy==1.0.2
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.1.0
pip==25.2
platformdirs==4.4.0
plotnine==0.15.3
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==5.29.3
psutil==5.9.1
ptyprocess==0.7.0
PubChemPy==1.0.4
pure_eval==0.2.3
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
pyfaidx==0.9.0.3
Pygments==2.19.2
pynndescent==0.5.13
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytoda==1.1.6
pytz==2025.2
pyviz_comms==3.0.6
PyYAML==6.0.3
pyzmq==26.2.0
rdkit==2024.3.2
referencing==0.37.0
regex==2026.1.15
requests==2.32.5
requests-cache==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==15.0.0
rpds-py==0.30.0
safetensors==0.7.0
scanpy==1.9.8
scikit-learn==1.7.1
scipy==1.15.3
seaborn==0.13.2
selfies==2.2.0
sentry-sdk==2.54.0
session-info==1.0.0
setproctitle==1.3.7
setuptools==72.1.0
shap==0.49.1
shellingham==1.5.4
simplejson==3.20.2
six==1.17.0
slicer==0.0.8
smart_open==7.3.0.post1
SmilesPE==0.0.3
smmap==5.0.2
SQLAlchemy==2.0.43
stack_data==0.6.3
statannotations==0.7.2
statsmodels==0.14.6
stdlib-list==0.12.0
swagger-spec-validator==3.0.4
sympy==1.14.0
tensorboard==2.19.0
tensorboard_data_server==0.7.0
texttable==1.7.0
threadpoolctl==3.6.0
tokenizers==0.20.3
tomli==2.3.0
torch==2.4.1+cu121
torch-geometric==2.7.0
torch-tb-profiler==0.4.3
torchaudio==2.4.1+cu121
torchvision==0.19.1+cu121
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.46.3
triton==3.0.0
typeguard==4.5.2
typer==0.25.0
typer-slim==0.21.1
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
uc-micro-py==2.0.0
umap==0.1.1
umap-learn==0.5.9.post2
unicodedata2==14.0.0
Unidecode==1.4.0
upfp==0.0.5
uri-template==1.3.0
url-normalize==3.0.0
urllib3==2.5.0
wandb==0.25.0
wcwidth==0.2.13
webcolors==25.10.0
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.3
xxhash==3.6.0
xyzservices==2025.11.0
yarl==1.20.1
zipp==3.23.0
zstandard==0.23.0
